<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Servicios Eleventa</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/blog.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="static/css/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1>Eleventa</h1>
            <h2 class="brand-tagline">Version actual:</h2>
            <h2 class="brand-tagline">X.X.X</h2>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div id="app" >
            <h2>Estatus de nuestros servicios <span id="fecha-hora" >31/05/2016 12:20:55PM (GMT -06:00)</span></h2>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Historico <span id="toggle-historico">(tiempos de respuesta)</span></th>
                        <th>Estatus actual</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="status-up">
                        <td>
                            <canvas id="myChart" width="350" height="70"></canvas>
                        </td>
                        <td>
                          <p class="check-title">PAC Ecodex
                            <span class=" status activo ">
                              <i class="tooltip fa fa-check-circle" aria-hidden="true">
                                <span class="tooltiptext">Servicio activo</span>
                              </i>
                            </span>
                          </p>
                          <p class="check-label">Ultima verificac&iacute;on:</p>
                          <p class="check-value">31/05/2016 01:24PM</p>
                          <p class="check-label">Tiempo de respuesta:</p>
                          <p class="check-value">485 ms</p>
                        </td>
                    </tr>

                    <tr class="status-down">
                        <td>2</td>
                        <td>Toyota</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Hyundai</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Hyundai</td>
                    </tr>
                </tbody>
            </table>
          </div>
          
          <div class="footer">
              <div class="pure-menu pure-menu-horizontal">
                  <ul>
                      <li class="pure-menu-item"><a href="http://www.bambucode.com/" class="pure-menu-link">Bambucode</a></li>
                      <li class="pure-menu-item"><a href="https://www.facebook.com/eleventapdv" class="pure-menu-link">Facebook</a></li>
                      <li class="pure-menu-item"><a href="http://www.eleventa.com/" class="pure-menu-link">Eleventa</a></li>
                  </ul>
              </div>
          </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/js/views.js" type="text/javascript"></script>
<script src="/static/js/models.js" type="text/javascript"></script>
<script src="/static/js/controllers.js" type="text/javascript"></script>

</body>
</html>
