<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Servicios Eleventa</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="static/css/new-style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  </head>
  <body >

    <div id="app" class="">

    <div class="pure-g container menu-bar">
      <div id="top-menu" class="pure-u-1-4">
        <img src="/static/img/eleventa.png" alt="" />
      </div>
      <div class="pure-u-3-4">
        <h3 id="current-date" ></h3>
      </div>

    </div>
    <div class="pure-g container">
      <div class="pure-u-1">

        <h2>Resumen de servicios:</h2>
        <table class="pure-table pure-table-striped ">
          <thead>
              <tr>
                  <th></th>
                  <th>Servicio</th>
                  <th>Lun</th>
                  <th>Mar</th>
                  <th>Mie</th>
                  <th>Jue</th>
                  <th>Vie</th>
              </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
        <div class="loading-services">
          <h1>Verificanto Estatus de Servicios</h1>
          <img src="static/img/ajax-loader.gif">
        </div>
      </div>
    </div>

    </div>
    <div class="pure-g container">
      <div class="pure-u-1">
        <table id="status-description" >
          <tbody>
            <tr>
              <th>
                <i class=' tooltip fa fa-check-circle' aria-hidden='true'></i>
                  Servicio operando normalmente

              </th>
              <th>
                <i class=' tooltip fa fa-exclamation-circle' aria-hidden='true'></i>
                Servicio intermintente
              </th>
              <th>
                <i class=' tooltip fa fa-times-circle' aria-hidden='true'></i>
                Servicio ca&iacute;do
              </th>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- javascript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="/static/js/views2.js" type="text/javascript"></script>
    <script src="/static/js/models.js" type="text/javascript"></script>
    <script src="/static/js/controllers.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>

  </body>
</html>
